<% if logged_in? %>
  <script type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.photos = { logo: "<%= image_url('logo.png') %>",
    black_logo: "<%= image_url('black_logo.png') %>",
    homepage: "<%= image_url('homepage.jpg') %>"
    };
</script>

<main id="root"></main>