// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
    background-color: yellow;
}

 /* General Site Formatting */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    size: 14px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
h4 {
    font-size: small;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

/* Formatting for Header */

.login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.login-signup button {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-right: 20px;
}

.login-signup button a {
    color: black;
}

.header-link {
    text-decoration: none;
}

/* Formatting for Login/SignUp Form */

.session-form-section {
    display: flex;
    justify-content: center;
    background: lightgray;
}

.session-form {
    background-color: white;
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.session-form h2 {
    font-size: x-large;
    text-align: center;
}

.session-form label {
    font-size: small;
    padding-bottom: 20px;
}

.session-form input {
    margin-bottom: 20px;
    width: 95%;
    border-radius: 5px;
}

.button-holder {
    text-align: center;
    margin: 20px;
}

.session-form button {
    background: #2666B4;
    color: white;
    width: 80%;
    border-radius: 3px;
    font-size: medium;
}
