$lightest-gray: #ECEEF1;
$light-gray: #bebcbc;
$gray: #999;
$dark-gray: #6f6f6f;
$darker-gray: #504f4f;
$darkest-gray: #3b3a3a;

$lightest-green:  hsl(171, 47%, 94%);
$light-green:  #dffdf5;
$green: #3caa8d;
$dark-green: #1B8381;
$darkest-green: #344d40;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #1c6aa5;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$menu-black: #333;