/* Formatting for Header */

.login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    img {
        width: 160px;
        margin-left: 10px;
        padding: 10px;
    }

    button {
        background-color: white;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        color: black;
        border-radius: 3px;
        margin-right: 20px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 5px;
        padding-bottom: 3px;
        font-size: 16px;
        font-weight: 300;
        box-shadow: 0 0 3px 3px white;
    }

    button a {
        color: black;
        display: flex;
    }

    button div {
        color: black;
        display: flex;
    }

    p.icon {
        padding-right: 5px;
        
        svg {
            height: 17px;
            width: 17px;
            align-self: center;
            padding-top: 2px;
        }
    }

    .nav-left {
        margin-left: 2%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        
        .header-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 3px;
            border-bottom: white;
            border-bottom-style: solid;
            border-bottom-width: 4px;
            margin-left: 10%;
            
            .button-text {
                font-size: 22px;
                margin-left: 5px;
                font-weight: 300;
            }

            svg {
                display: inline;
                height: 28px;
                width: 28px;
            }

        }

        .linkedin {
            margin-left: 5%;
        }

        .header-icons:hover {
            text-decoration: none;
            border-bottom: $green;
            border-bottom-style: solid;
            border-bottom-width: 4px;
        }

        .linkedin-icon {
            fill: $blue;
            height: 28px;
            width: 28px;
        }
   
    }
}

.login-signup button:hover {
    box-shadow: 0 0 3px 3px $light-gray;
    text-decoration: none;
}

.login-signup a:hover {
	text-decoration: none;
}


// Logout Button

.logout {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $menu-black;

    .nav-left {
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            padding-top: 16px;
            border-radius: 3px;
            margin-left: 10%;
            
            .button-text {
                font-size: 22px;
                margin-left: 5px;
                font-weight: 300;
            }

            svg {
                display: inline;
                height: 28px;
                width: 28px;
            }
        }

        .linkedin {
            margin-left: 5%;
        }

        .left-icon {
            fill: white;
        }

        .header-icons:hover {
            font-weight: 300;
            background-color: $darker-gray;
            text-decoration: none;
        }

        img {
            width: 160px;
            margin-left: 10px;
            padding: 10px;
        }
    }

    .nav-right {
        font-size: 22px;
        display: flex;
        margin-right: 25px;
        justify-content: center;
        align-items: center;

        button {
            padding: 20px;
        }

        button:hover {
            font-weight: 300;
            background-color: $darker-gray;
            text-decoration: none;
        }

        svg {
            height: 22px;
            width: 22px;
            path {
                stroke: white;
                stroke-width: 1;
            }
        }
    }
    
} 

