.nav-bar {
    background-color: $lightest-gray;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-button {
        padding: 20px;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: $lightest-gray;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }

    .unselected:hover {
        border-bottom: $darkest-gray;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }

    .selected {
        border-bottom: #0ac775;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }

    a {
        text-decoration: none;
    }

}

