/* Formatting for Header */

.login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    img {
        width: 125px;
        margin-bottom: 5px;
        margin-left: 10px;
        padding: 10px;
    }

    button {
        background-color: white;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        color: black;
        border-radius: 3px;
        margin-right: 20px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: medium;
    }

    button a {
        color: black;
        display: flex;
    }

    p.icon {
        padding-right: 5px;
        
        svg {
            height: 17px;
            width: 17px;
            align-self: center;
            padding-top: 2px;
        }
    }

    .nav-left {
        display: flex;
        align-items: center;

        .menu-icon {
            display: inline;
            margin-left: 15px;
            width: 40px;
        }
    }
}

.login-signup button:hover {
    background-color: $lightest-gray;
    text-decoration: none;
}

.login-signup a:hover {
	text-decoration: none;
}


// Logout Button

.logout {
    background-color: $menu-black;
    color: $light-gray;
    display: flex;
    justify-content: space-between;

    img {
        width: 125px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    div {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: large;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-right:hover {
        background-color: $dark-gray;
        text-decoration: none;
    }

    svg {
        height: 30px;
        width: 30px;
    }
    
} 

