.nav-bar {
    background-color: white;
    margin-top: 4px;
    font-size: 28px;
    font-weight: 500;

    .nav-button {
        padding: 20px;
        margin-left: 10%;
        border-bottom: white;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }

    .unselected:hover {
        border-bottom: $darkest-gray;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }

    .selected {
        border-bottom: $dark-green;
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }

    a {
        text-decoration: none;
    }

}

