.account-item {
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: $light-gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 7px;

    .account-info-none h4 {
        text-align: center;
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 7px;
    }

    .account-info-primary {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        .account-balance {
            font-size: 22px;
        }
    }

    .account-institution {
        margin-bottom: 10px;
        color: $darkest-gray;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 300;
    }

    .account-change-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 400;
        
        .account-delete {
            background-color: darkred;
            color: white;
            font-size: 16px;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 0 0 1px 1px $lightest-gray;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        .account-update {
            background-color: $darkest-green;
            color: white;
            font-size: 16px;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 0 0 1px 1px $lightest-gray;
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }
}
