// /* Formatting for Dashboard of Accounts */

.main-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.dashboard-leftside {
    border-color: $light-gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3%;
    margin-left: 2%;
    width: 30%;

    .dashboard-account-none h4 {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 7px;
    }

    .dashboard-heading {
        display: flex;
        justify-content: space-between;
        border-bottom: $light-gray;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin: 20px;
        margin-bottom: 15px;
        padding: 10px;

        h2 {
            font-size: 24px;
            margin-bottom: 0px;
            margin-top: 0px;
            margin-left: 0px;
        }

        svg {
            height: 26px;
            width: 26px;
            padding-left: 10px;
        }

        .dashboard-right {
            display: flex;
            align-items: center;

            p {
                display: inline;
                font-size: 22px;
                font-weight: 300;
            }

        }
    }

    .dashboard-main {
        margin-bottom: 5%;
    }

    div.category {
        background-color: $lightest-gray;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 4%;
        margin-bottom: 2%;

        h3 {
            text-align: left;
            margin-left: 30px;
            font-size: 24px;
            margin-top: 10px;
            font-weight: 400;
            display: flex;

            svg {
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }
        }

        p {
            font-size: 22px;
            font-weight: 500;
            margin-right: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.dash-rightside {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-right: 2%;
    width: 60%;
}

.dashboard:last-of-type {
    margin-top: 2%;
    margin-bottom: 6%;
}

.dashboard {
    border-color: $light-gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    padding: 25px;

    h2 {
        text-align: center;
        padding: 10px;
        margin: 10px;
        font-size: 26px;
    }

    .dash-trans-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        border-bottom: $light-gray;
        border-bottom-style: solid;
        border-bottom-width: 2px;


        h2 {
            font-size: 26px;
            margin-bottom: 0px;
            margin-top: 0px;
            margin-left: 0px;
        }
    }

    .time-period-button-container {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
        }

        .time-period-button-selected {
            padding: 6px 10px 6px 10px;
            font-size: 14px;
            font-weight: 500;
            background-color: white;
            border: 1px solid $darkest-green;
            border-radius: 5px;
            margin-left: 10px;
        }

        .time-period-button-unselected {
            padding: 6px 10px 6px 10px;
            font-size: 14px;
            font-weight: 400;
            background-color: $lightest-gray;
            border: 1px solid $darkest-green;
            border-radius: 5px;
            margin-left: 10px;
        }

        .time-period-button-unselected:hover {
            box-shadow: 0 0 2px 2px $light-gray;
        }
    }

    .view-button-container {
        display: flex;
        align-items: center;
    

        .view-button {
            padding: 10px;
            background-color: $dark-green;
            border: 1px solid $darkest-green;
            border-radius: 5px;

            .button-text {
                font-size: 16px;
                font-weight: 500;
                color: white;
            }
        }
    }

    canvas {
        margin-top: 3%;
        margin-bottom: 3%;
    }

        .chart-select-button-unselected {
            position: relative;
            top: 1px;
            padding: 6px 15px 4px 15px;
            margin-top: 20px;
            background-color: $lightest-gray;
            border-top: 1px solid $light-gray;
            border-right: 1px solid $light-gray;
            border-left: 1px solid $light-gray;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-size: 18px;
            font-weight: 400;
            color: black;
        }

        .chart-select-button-selected {
            position: relative;
            top: 2px;
            padding: 15px;
            padding-top: 8px;
            padding-bottom: 5px;
            margin-top: 20px;
            background-color: white;
            border-top: 1px solid $light-gray;
            border-right: 1px solid $light-gray;
            border-left: 1px solid $light-gray;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-size: 18px;
            font-weight: 500;
            color: black;
        }

        .chart-select-button-unselected:hover {
            box-shadow: 0 0 2px 2px $light-gray;
        }

        a:hover {
            text-decoration: none;
        }

        .current-chart-div-unselected {
            display: none;
        }

        .current-chart-div-selected {
           background-color: white;
           border: 1.5px solid $light-gray;
           border-radius: 4px;
           border-top-left-radius: 0px;
           padding: 15px;
           padding-left: 40px;
           padding-right: 40px;
           padding-bottom: 30px;
        }

    .spending-trend-container {
        min-height: 400px;
    }

    .loader-container {
        position: relative;
        min-height: 200px;
    }

    .hidden {
        display: none;
    }

    .loader,
    .loader:before,
    .loader:after {
        background: $dark-green;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 1em;
    }

    .loader {
        color: $dark-green;
        margin: 0px auto;
        position: relative;
        top: -10px;
        font-size: 50px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }
    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .loader:after {
        left: 1.5em;
    }

    @-webkit-keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 1em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 2em;
        }
    }

    @keyframes load1 {
        0%,
        80%,
        100% {
            box-shadow: 0 0;
            height: 1em;
        }
        40% {
            box-shadow: 0 -2em;
            height: 2em;
        }
    }
}